.g-showpost {
    margin: 10px;
    width: 675px;
    min-height: 200px;
    border-radius: 30px;
    box-shadow: 0px 10px 31px -7px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.g-usericon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 5px;
    color: #4E5166;
}

.g-usericon p {
    padding-left: 5px;
}

.gp-text {
    margin: 10px;
    padding: 15px;
    width: 610px;
    min-height: 150px;
    background-color: #fd2b01a9;
    border-radius: 20px;
    color:white;
    font-size:16px;
}

.g-top-bar {
    padding-top: 20px;
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.g-delete, .g-modify {
    color: #4E5166;
}

:hover.g-delete {
    color:#FD2D01;
}

:hover.g-modify {
    color:rgb(218, 17, 141);
}

.g-bot-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-bottom : 2px solid #4E5166;
}

.p-comment {
    padding-right: 490px;
    font-size: 18px;
}

.g-likes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    color: #4E5166;
}

:hover.g-likes {
    color:rgb(38, 168, 38);
}

.postpic {
    padding : 10px;
    max-width: 500px;
    max-height: 500px;
}