.footer {
    margin: auto;
    margin-top: 70px;
    background-color: #FD2D01;
    border: 5px solid #4E5166;
    color: white;
}

.footer-contact-bloc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.footer-contact {
    padding-right: 40px;
    text-align: flex-start;
}

.footer-admin {
    line-height: 10px;
}

.footer-contact h2 {
    text-align: center;
    font-size: 22px;
}

.footer-contact h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.footer-contact p {
    padding-left: 27px;
    font-size: 14px;
}