.modify-image {
    padding: 10px;
    margin: 10px;
    width: 130px;
    color: white;
    background-color: #4E5166;
	border-radius: 4px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
}

.modify-send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120px;
    padding: 10px;
    margin:10px;
    color: white;
    background-color: #FD2D01;
	border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.modify-buttonpic {
    display: none;
}

.textarea-modify {
    padding: 15px;
    width: 520px;
    min-height: 150px;
    font-size: 15px;
    resize: none;
}

.modify-p {
    padding-left: 5px;
    font-size: 11px;
}

.modify-image label {
    cursor: pointer;
}