a {
    color: white;
    text-decoration: none;
}

.g-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    margin: auto;
    background-color: #FD2D01;
    border: 5px solid #4E5166;
}

.icon-leave {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}

.g-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    color:white;
}

.user-photo {
    padding-right: 10px;
}

.user-photo img {
    max-width: 50px;
    max-height: 50px;
}

.user-name {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.g-nav-icons {
    padding-right: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-right: 2px solid white;
}